@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.conteudo{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
    gap: 60px;
    width: 650px;
}

.biografia{
    width: 650px;
    display: flex;  
    gap: 60px;
    font-size: 24px;
}

.biografia__titulo{
    color: var(--cor-terciaria);
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.biografia__texto{
    width: auto;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.biografia__destaque{
    color: var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        display: flex;
        flex-direction: row; 
        align-items: center;
        padding: 10px;
    }
    .cabecalho__menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 1rem; 
        padding: 5px;
    }
    .cabecalho__menu__link {
        font-size: 1rem; 
    }

    .conteudo{
        width: 100%;
        align-content:start; 
    }
    .rodape{
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: var(--cor-terciaria); 
        color: var(--cor-primaria);
    }
}
